@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
    --primary-color: #1C1D20;
    --secondary-color: #2b2b2b;
    --button-color: #1f1f1f;
    --submit-color: #636363;
}

body {
    margin: 0;
    padding: 0;
    background: var(--primary-color);
    font-family: 'Poppins';
    overflow: hidden;
}

//Top Bar
.wrapper {
    padding: 0.2em;
    background: var(--secondary-color);

    .logo {
        text-decoration: none;
        color: white;
        padding-left: 0.4em;
    }

    nav {
        padding: 0;
        display: inline-flex;
        float: right;

        ul {
            margin: 0;
            display: inline-flex;
            list-style-type: none;

            button {
                border: none;
                background-color: transparent;
                display:block;
                width: 45px;
                height: 2em;
            }
        }
    }
}

.friendbtn {
    background-image: url('../icons/icon_friends.png');
    background-repeat: no-repeat;
    background-position: center;

    &:hover {
        background-color: #1C1D20;
    }
}

.notificationbtn {
    background-image: url('../icons/icon_bell.png');
    background-repeat: no-repeat;
    background-position: center;

    &:hover {
        background-color: #1C1D20;
    }
}

.sidebar-wrapper {
    background: var(--secondary-color);
    position: fixed;
    width: 4%;
    height: 100vh;
    top: 31px;

    .sidebar-container {
        position: fixed;
        width: 4%;
        height: 11em;
        bottom: 0;

        .button-layer {
            justify-content: center;
            text-align: center;
            padding-top: 3em;
            padding-left: .8em;
            
            button {
                border: none;
                background-color: transparent;
                background-repeat: no-repeat;
                background-position: center;
                background-size: 50%;
                display: block;
                width:  50px;
                height: 50px;

                &:hover {
                    background-color: #1C1D20;
                }
            }
        }
    }
}

.createBtn {
    background-image: url('../icons/icon_serveradd.png');
}

.settingsbtn {
    background-image: url('../icons/icon_settings.png');
}

.hero {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    text-align: center;
    max-width: 100%;


    .container {
        margin: auto;

        p {
            position: absolute;
            bottom: 0;
            left: 48.5%;
            top: 20%;

            span {
                font-weight: bold;
                color: #5678dd;
            }
        }

        img {
            position: absolute;
            bottom: 0;
            left: 40%;
            top: 25%;
            justify-content: center;
            width: 25%;
            border-radius: 5em;
        }
    }
}