@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

:root {
  --primary-color: #313233;
  --btn-logo-color: #f17e7e;
  --btn-clicked: #e2b5b5;
  --submit-color: #636363;
}

body {
    font-family: 'Poppins';
    background-color: var(--primary-color);
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.top-bar {
    padding-bottom: .4em;
    .logo {
        position: absolute;
        top: 0;
        left: 5em;
        text-decoration: none;
        font-weight: bold;
        font-size: 2em;
        color: var(--btn-logo-color);

        &:active {
            color: var(--btn-clicked);
        }
    }
}

.mid-container {
    text-align: center;

    .form-con {
        display: inline-block;
        margin-top: 10em;
        border: 5px solid var(--submit-color);
        background-color: var(--submit-color);
        border-radius: 3em;
        width: 20%;
        color: white;
        font-weight: bold;

        .username-form, .email-form, .password-form1, .password-form2 {
            font-weight: bold;
        }

        .username-form-input, .email-form-input, .password-form-input1, .password-form-input2 {
            border-radius: 5em;
            border: none;
            height: 22px;
            outline: none;
        }

        .submitBtn {
            background-color: var(--btn-logo-color);
            border-radius: 5em;
            border: none;
            width: 50%;
            height: 40px;
            color: white;
            font-weight: bold;
            font-size: 16px;
            cursor: pointer;
        
            &:active {
                background-color: var(--btn-clicked);
            }
        }

        .go-back {
            font-weight: bold;
            color: var(--btn-logo-color);
            font-size: 18px;
        }
    }
}

.flask-messages {
    text-align: center;
    
    .flask-container {
        display: inline-block;
        margin-top: 5em;
        padding: 1em;
        width: 20%;
        color: white;
        border-radius: 5em;
        font-weight: bold;
        font-size: 16px;
        margin-bottom: 0;
    }
}