@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
    --primary-color: #1C1D20;
    --secondary-color: #2b2b2b;
}

body {
    margin: 0;
    background: var(--primary-color);
    font-family: 'Poppins';
    overflow: hidden;
}

.topbar {
    -webkit-app-region: drag;
    background: var(--secondary-color);
    position: absolute;
    width: 100%;

    .logo {
        text-decoration: none;
        color: white;
        padding-top: 0.3em;
        padding-left: 0.3em;
    }

    .topbar-btns {
        -webkit-app-region: no-drag;
        padding-top: 0.3em;
        display: inline-block;
    }

    .container {
        display: flex;
        place-content: space-between;
    }
}

.exitBtn {
    background-image: url('../icons/icon_quit.png');
    background-size: contain;
    width: 25px;
    height: 25px;
    background-color: transparent;
    border: transparent;

    &:hover {
        background-color: red;
    }
}

.maxBtn {
    background-image: url('../icons/icon_max.png');
    background-size: contain;
    width: 25px;
    height: 25px;
    background-color: transparent;
    border: transparent;

    &:hover {
        background-color: rgba(0, 0, 0, .45);
    }
}

.minBtn {
    background-image: url('../icons/icon_min.png');
    background-size: contain;
    width: 25px;
    height: 25px;
    background-color: transparent;
    border: transparent;

    &:hover {
        background-color: rgba(0, 0, 0, .45);
    }
}