<!DOCTYPE html>
<html>
<head>
    <title>Token - Username Here</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/channel.css') }}">
</head>
<body>
    <div class="top-bar">
        <div class="top-container">
            <button class="all-friendsbtn">All friends</button>
            <button class="requestbtn">Incoming</button>
            <button class="blockedbtn">Blocked</button>
            <button class="addfriendbtn">Add friend</button>
        </div>
    </div>
    
    <div class="side-bar">
        <div class="sidebar-container">
            <ul>
                <li>Server</li>
            </ul>
        </div>
    </div>

    <div class="channelmsg-bar">
        <div class="channelmsg-container">
            <ul>
                <li>Username</li>
            </ul>
        </div>

        <div class="user-details">
            <div class="user-container">
                <p>Username logged</p>
            </div>
        </div>
    </div>
</body>
</html>