<!DOCTYPE html>
<html>
<head>
    <title>Token</title>
    <link rel="stylesheet" href="/static/login.css">
</head>
<body>
    <div class="top-bar">
        <a href="#" class="logo">Token</a>
    </div>
    <div class="middle-con">
        <div class="container">
            <p class="middle-text-container">
                Welcome to <span>Token</span><br>
                Token is a small chat app that I'm developing<br>
                All code is on <a href="https://github.com/rushiah/Token">Github</a>
            </p>
            <button class="goto-loginbtn" id="goto-loginbtn">Join Token</button>
            <img src="/rovergaming.jpg" alt="Rover smirking" class="rover-smirk-gif">
        </div>
    </div>
</body>
</html>