<!DOCTYPE html>
<html>
<head>
    <title>Token - Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/home.css') }}">
    <script src="{{url_for('static', filename='JS/btnEvent.js')}}"></script>
</head>
<body>
    <div class="top-bar">
        <a href="#" class="logo">Token</a>
    </div>
    <div class="middle-con">
        <div class="container">
            <p class="middle-text-container">
                Welcome to <span>Token</span><br>
                Token is a small chat app that I'm developing<br>
                All code is on <a href="https://github.com/rushiah/Token">Github</a>
            </p>
            <button class="goto-login" id="goto-loginbtn" onclick=joinToken()>Join Token</button>
            <!--
            <img src="/rovergaming.jpg" alt="Rover smirking" class="rover-smirk-gif">
            -->
        </div>
    </div>
</body>
</html>