<!DOCTYPE html>
<html>
<head>
    <title>Token - Login</title>
    <link rel="stylesheet" href="/static/login.css">
</head>
<body>
    <div class="top-bar">
        <a href="#" class="logo">Token</a>
    </div>
    <div class="mid-container">
        <div class="form-con">
            <form method="POST">
                <label for="email" class="email-form">EMAIL</label><br>
                <input type="email" name="email" id="email" class="email-form-input"><br><br>

                <label for="password" class="password-form">PASSWORD</label><br>
                <input type="password" name="password" id="password"class="password-form-input"><br><br>

                <input type="submit" value="Login" class="submitBtn" id="btnSubmit"><br>
                <p class="no-account-register">Don't have an account? <a href="./register.html">Click here</a></p>
            </form>
        </div>
    </div>
</body>
</html>