<!DOCTYPE html>
<html>
<head>
    <title>Token - Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/login.css') }}">
</head>
<body>
    <div class="top-bar">
        <a href="/" class="logo">Token</a>
    </div>

    <div class="flask-messages">
        <div class="flask-container">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                {% if category == 'error' %}
                
                <style>
                    .flask-container {background-color: red;}
                </style>
                {{ message }}

                {% else %}

                <style>
                    .flask-container {background-color: green;}
                </style>
                {{ message }}
                
                {% endif %}
                {% endfor %}
            {% endif %}
            {% endwith %}
        </div>
    </div>

    <div class="mid-container">
        <div class="form-con">
            <form method="POST">
                <label for="email" class="email-form">Email</label><br>
                <input type="email" name="email" id="email" class="email-form-input"><br><br>

                <label for="password" class="password-form">Password</label><br>
                <input type="password" name="password" id="password"class="password-form-input"><br><br>

                <input type="submit" value="Login" class="submitBtn" id="btnSubmit"><br>
                <p class="no-account-register">Don't have an account? <a href="/register">Click here</a></p>
            </form>
        </div>
    </div>
</body>
</html>