<!DOCTYPE html>
<html>
<head>
    <title>Token - Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/register.css') }}">
</head>
<body>
    <div class="top-bar">
        <a href="/" class="logo">Token</a>
    </div>

    <div class="flask-messages">
        <div class="flask-container">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                {% if category == 'error' %}
                
                <style>
                    .flask-container {background-color: red;}
                </style>
                {{ message }}

                {% else %}

                <style>
                    .flask-container {background-color: green;}
                </style>
                {{ message }}
                
                {% endif %}
                {% endfor %}
            {% endif %}
            {% endwith %}
        </div>
    </div>

    <div class="mid-container">
        <div class="form-con">
            <form method="POST">
                <label for="username" class="username-form">Username</label><br>
                <input type="text" name="username" id="username" class="username-form-input"><br><br>

                <label for="email" class="email-form">Email</label><br>
                <input type="email" name="email" id="email" class="email-form-input"><br><br>

                <label for="password" class="password-form1">Password</label><br>
                <input type="password" name="password1" id="password1"class="password-form-input1"><br><br>

                <label for="password" class="password-form2">Confirm Password</label><br>
                <input type="password" name="password2" id="password2"class="password-form-input2"><br><br>

                <input type="submit" value="Register" class="submitBtn"><br>
                <p>Return to <a class="go-back" href="/login">Login</a></p>
            </form>
        </div>
    </div>
</body>
</html>